.main {
  display: flex;
  background-attachment: scroll;
  background-repeat: no-repeat;
  z-index: 1005;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-family: raleway;
}
.main2 {
  display: flex;
  background-attachment: scroll;
  background-repeat: no-repeat;
  z-index: 1005;
  min-height: 50vh;
  width: 100%;
  text-align: center;
  font-family: raleway;
}

.bg_img {
  /* position: relative; */
  background-position: 50% 50%;
  background: url("img/img4.jpg");
  background-size: cover;
}

.Content {
  margin: auto;
  width: 80%;
}

.push {
  margin-top: 10px;
}
.white {
  color: white;
}

.Content h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5em;
  font-family: century;
}

.Content_2 {
  display: flex;
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 0.9em;
  align-items: center;
}
.Content_2 p {
  width: 65%;
  padding-right: 5%;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-family: century;
  margin: 3% 0;
}

.date {
  width: 25%;
}

hr {
  width: 80%;
}

.date h2 {
  font-size: 6em;
  margin: 0;
  font-family: century;
  float: left;
}

.date_2 {
  padding-top: 10%;
}

.main_menu {
  position: fixed;
  z-index: 100000;
  top: 0;
  width: 100%;
  color: white ;
}

.main_menu a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.fltRght {
  float: right;
}

.bg_grey {
  background-color: gainsboro;
}

.event_line {
  margin: 0 5%;
  height: inherit;
}
.line {
  background-color: #223448;
  width: 10px;
  height: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #223448;
  border-radius: 50px;
}

.event {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

.event p, h2 {
  margin: 0;
}
.event_lft {
  text-align: right;
  width: 45%;
  display: table;
}
.event_rght {
  text-align: left;
  width: 45%;
}

.tp_line {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 3px;
  margin-bottom: -5px;
  z-index: 1000;
  position: relative;
}

.btm_line {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 3px;
  margin-top: -5px;
  z-index: 1000;
  position: relative;
}

.btm_links {
  height: 80%;
  background-color: #223448;
  color: white;
  display: -ms-flexbox;
  display: flex;
}

footer {
  height: 50vh;
  width: 100%;
  margin-top: auto;
}

.link_1 {
  list-style: none;
  width: 20%;
  text-align: left;
  margin-left: auto;
  padding-left: auto !important;
}
.link_1 a, li{
  text-decoration: none;
  color: white;
  padding: 4px 0
}

.btm {
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin: auto;
  width: 90%;
}

.name {
  margin: auto;
  font-weight: bold;
}


.btn {
  padding: 7px 25px;
  background-color: white;
  border: 1px solid #adadad;
  text-decoration: none;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link_1_1 {
  overflow: hidden;
  width: 30%;
  margin-left: auto;
  padding-left: auto;
}

.churches_marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  height: 20%;
  background-color: white;
  display: flex;
}

.tryMe {
  padding-left: 100%;
  padding-right: 100%;
  animation: marquee 250s linear infinite;
  display: flex;
}

.churches_marquee .tryMe a {
  display: inline-block;
  padding-right: 200px;
  
}

@keyframes marquee {
  0% { transform: translate(0, 0);}
  100% { transform: translate(-100%, 0);}
}

.town {
  font-weight: normal;
  color: #278dff;
}

.is-sticky div.main_menu {
  background-color: white;
  color: black;
  opacity: 0.95;
  transition: ease-in-out 0.5s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16)
}